[Desktop Entry]
Name=HIDERING Wallet
GenericName=HIDERING Wallet
Comment=HIDERING — secure, private, untraceable cryptocurrency wallet
Exec=hidering-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=hidering-wallet-gui
StartupNotify=true
